{% extends './index.html' %}
{% load staticfiles %}

{{ form.errors }}
{{ form.non_field_errors }}
{% block body %}
<a href="?go=back"><img src="../static/images/flecha.png" width="50px" height="50px"></img></a>
<center><h2>SU RESULTADO</h2></center>
<div class="col-md-12">
{% for item in data %}
  <div class="card col-xs-12 col-sm-4 col-md-4" style="margin-bottom:15px;text-align:center;margin-top:20px;">
    <img src="{{ MEDIA_ROOT }}/{{ item.image }}" class="card-img-top" alt="..." width="50%" height="200px">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ item.name }}</strong></h5>
      <h5 class="card-title"><strong>Grupo:</strong> {{ item.group }}</h5>
      <h5 class="card-title"><strong>Puntuacion:</strong> {{ item.score }}</h5>
      <h5 class="card-title"><strong>Orígen:</strong> {{ item.country }}</h5>
      <p id="kk" class="card-text"><strong>PVP:</strong> {{ item.price }}€</p>
    </div>
  </div>
{% endfor %}
</div>
<nav class="col-xs-12 col-sm-12 col-md-12" aria-label="Page navigation example" style="text-align:center;">
  <ul class="pagination justify-content-center">
  {% if data.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ data.previous_page_number }}" tabindex="-1">Anterior</a>
    </li>
  {% endif %}   
  {% if data.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ data.next_page_number }}">Siguiente</a>
    </li>
  {% endif %}
  </ul>
</nav>
<div class="col-xs-2 col-md-2"></div>
<form class="col-xs-10 col-md-8" style="text-align:center;margin:25px;" action="" method="POST">
    {% csrf_token %}
    <label><h5 style="mcolor:red;">Quires recibir esta lista en tu correo?</h5></label>
    <div class="form-group" style="margin-top:10px;">
      <div class="col-md-12" style="margin-bottom:25px;color:red;">
        {{ text.text }}
      </div>
    </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<div class="col-xs-2 col-md-2"></div>
</div>

{% endblock %}