{% extends './index.html' %}
{% load staticfiles %}



{{ form.errors }}
{{ form.non_field_errors }}
{% block body %}
<h2>ssssss</h2>
{% if kk %}
<h1> 1 </h1>
{% endif %}
<h2>SU RESULTADO</h2>
{% for item in items %}

  <div class="card col-xs-12 col-sm-4 col-md-4" style="margin-bottom:15px;text-align:center;margin-top:20px;">
    
    <img src="{{ MEDIA_ROOT }}/{{ item.image }}" class="card-img-top" alt="..." width="50%">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ item.name }}</strong></h5>
      <p class="card-text"> {{ item.description }}</p>
      <h5 class="card-title"><strong>Grupo:</strong> {{ item.group }}</h5>
      <h5 class="card-title"><strong>Puntuacion:</strong> {{ item.score }}</h5>
      <p id="kk" class="card-text"><strong>PVP:</strong> {{ item.price }}</p>
      <a href="#" class="btn btn-warning">Go</a>
    </div>
  </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}
        {% if items.number %}
        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>
        {% endif %}

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
            <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}